
@font-face {
    font-family: 'futura_md_btbold';
    src: url('../fonts/futura-md-bt-bold-webfont.eot');
    src: url('../fonts/futura-md-bt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-md-bt-bold-webfont.woff2') format('woff2'),
         url('../fonts/futura-md-bt-bold-webfont.woff') format('woff'),
         url('../fonts/futura-md-bt-bold-webfont.ttf') format('truetype'),
         url('../fonts/futura-md-bt-bold-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'futura_hvregular';
    src: url('../fonts/ftrahv_-webfont.eot');
    src: url('../fonts/ftrahv_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftrahv_-webfont.woff2') format('woff2'),
         url('../fonts/ftrahv_-webfont.woff') format('woff'),
         url('../fonts/ftrahv_-webfont.ttf') format('truetype'),
         url('../fonts/ftrahv_-webfont.svg#futura_hvregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'futura_ltregular';
    src: url('../fonts/ftralt_-webfont.eot');
    src: url('../fonts/ftralt_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftralt_-webfont.woff2') format('woff2'),
         url('../fonts/ftralt_-webfont.woff') format('woff'),
         url('../fonts/ftralt_-webfont.ttf') format('truetype'),
         url('../fonts/ftralt_-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'futura_mdmedium';
    src: url('../fonts/ftramd_-webfont.eot');
    src: url('../fonts/ftramd_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftramd_-webfont.woff2') format('woff2'),
         url('../fonts/ftramd_-webfont.woff') format('woff'),
         url('../fonts/ftramd_-webfont.ttf') format('truetype'),
         url('../fonts/ftramd_-webfont.svg#futura_mdmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

