.test-class {
    text-align: center;
}

.marketing img {
    display: inline-block;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #fff;
    padding: 0.2em 0;
}

body {
    padding: 0;
    margin: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    padding: 0.2em 0;
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px solid #ededed;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.flt-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    
    .bg-left{
        width: 49.79%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        float: left;
        background: url(../img/Greenwich_left_01.png) left bottom/contain no-repeat;
    }

    .bg-right{
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        float: left;
        background: url(../img/Greenwich_PassionPit_02.png) right bottom/contain no-repeat;
    }

}

.fltng {
    position: relative;
    z-index: 2 ;
    top: 50%;
  transform: translateY(-50%);
}

.btn-hm{
    margin-top: 50px;
    
    button{
        width: 100%;
        max-width: 300px;
    }
}

.frm-modal{
    background: $rd; 
    
    .modal-header, .modal-footer{
        border: 0;
    }
    
    .cs-cls{
        background: $ylw;
        width: 30px;
        height: 30px;
        opacity: 1;
        color: #fff;
    }
    
}

.modal-dialog{
    width: 100%;
    max-width: 760px;
    color: #fff;
}

.frm{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      font-family: $futura;    
    
    .row{
        margin-bottom: 10px;
        
        &:last-child{
            margin-top: 8%;
        }
        
        .col-md-4{
            text-align: right;
        }
    }
    
    .cs-slct{
        display: inline-block;
          overflow: hidden;
          background: url(../img/arrow-dwn.jpg) no-repeat right #fff;
        
        &:first-child{
            width: 47.5%;
        }
        
        &:nth-child(2){
            width: 20%;
        }
        
        &:last-child{
            width: 30%;
        }
        
        select{
              background: transparent;
              width: 100%;
              padding: 0 5px;
              border: 0;
              border-radius: 0;
              line-height: 1;
              -webkit-appearance: none;
        }
    }
    
    label{
        color: #fff;
    }
    
    input, textarea, select {
        width: 100%;
        border: 0;
        color: #282828;
        resize: none;
    }
}

.modal-alert{
    border: 0;
    background: #132465;
    margin-bottom: 10px;
    
    body{
        color: #fff;
        font-family: $futura;  
    }
}
// margins

.mrgR20{
    margin-right: 20px;
}

.mrgT50{
    margin-right: 50px;
}

// buttons


.btns{
    display: inline-block;
    padding: 10px 50px;
    border: 0;
    color: #fff;
    font-family: $futurareg;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    border-radius: 0;
    letter-spacing: 5px;
    
    &:hover{
        color: #fff;
    }
}

.btnsm{
    font-size: 17px;
    text-transform: none;
    padding: 10px 50px;
}

.btn-grn{
    background: $grn;
    border-bottom: 5px solid $dgrn;
}

//@media screen and (min-width: 1200px) {
//    .fltng {
//       width: 770px;
//    }
//}
//
//@media screen and (min-width: 1500px) {
//    .fltng {
//    padding-top: 10%;
//       width: 770px;
//    }
//}



@media screen and (min-width: 768px) {
    .fltng {
        width: 770px;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        min-width: 770px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

